__pycache__/
assets/external/
.states
*.db
*.py[cod]
.web
.env
.venv
backend/__pycache__/
backend/app/__pycache__/
backend/app/services/__pycache__/
backend/app/data/
backend/venv/
backend/Wallet_POCSOLUTIONSATPDEV_Nov_2025
test.py
